body{
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
main{
    background-color: hsl(0, 0%, 100%);
    height: 800px;
    width: 600px;


}
.image {
    min-width: 80vh;


}